---
import AboutHeroImage from '../assets/me.png';
import { Image } from 'astro:assets';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	description="A bit about Harry McKay-Roper"
	pubDate={new Date()}
>
	<div style="text-align: center; margin-bottom: 1rem;">
		<Image src={AboutHeroImage} width={250} height={120} alt="Harry McKay-Roper" style="border-radius: 0%; display: inline-block;" />
	</div>
	<p>
		I'm Harry McKay-Roper — founder of <a href="https://imaginaryspace.co.uk" target="_blank" rel="noopener">Imaginary Space</a> (est. 2019). I help enterprise, startups and independent
		creators design and ship products, build lightweight systems that scale, and make better decisions.
	</p>
	<p>
		My big focus at the moment is working on swarm technolgy, Ai, and enabling agents to help the next million humans yet to be born. Once we remove all manual work, we can get to space faster.
	</p>
	<p>
		If you'd like to chat:
		<a href="https://cal.com/harrymckayroper" target="_blank" rel="noopener">book time</a>
		or email <a href="mailto:hello@harrymckayroper.com">hello@harrymckayroper.com</a>.
	</p>
	<p>
		This site is where I write about product, design, technology, and the craft of building things.
	</p>
</Layout>
